<template name="teacherSubjectSchedule">
    <div class="container">
        <div class="row">
            <div class="text-center">
            {{# each subjectName}}
                <div class="lesson-container lesson-{{numberWeek}}-0" data-toggle="tooltip" title="form subject:{{formSubject}}. Group:{{group}}">
                    <div class="lesson">
                        {{#if isInRole 'admin'}}
                            <h4><a href="{{pathFor 'editClass'}}">{{subject}}</a></h4>
                        {{else}}
                            <div>{{subject}}</div>
                        {{/if}}
                        <div>{{classroom}}</div>
                    </div>
                </div>
            {{/ each}}
            </div>
        </div>
    </div>
</template>