<template name="teacherClassSubmit">
    <div class="container">
        <div class="row">
            <form class="main form">
                <div class="form-group">
                    <label class="control-label" for="day">Day</label>
                    <div class="controls">
                        <input name="day" id="day" type="number" min="1" max="5" value="" placeholder="Day" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="numberSubject">Number Subject</label>
                    <div class="controls">
                        <input name="numberSubject" id="numberSubject" type="number" min="1" max="7" value="" placeholder="Number Subject" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="numberGroup">Number Group</label>
                    <div class="controls">
                        <input name="numberGroup" id="numberGroup" type="number" min="0" max="2" value="" placeholder="Number Group" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="numberWeek">Number week</label>
                    <div class="controls">
                        <input name="numberWeek" id="numberWeek" type="number" min="0" max="2" value="" placeholder="Number Week" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="group">group</label>
                    <div class="controls">
                        <select name="group" required class="form-control">
                            {{# each group}}
                                <option value="{{name}}">{{name}}</option>
                            {{/ each}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="subject">subject</label>
                    <div class="controls">
                        <select name="subject" required class="form-control">
                            {{# each subject}}
                                <option value="{{name}}">{{name}}</option>
                            {{/ each}}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="formsSubject">formSubject</label>
                    <div class="controls">
                        <select name="formsSubject" required class="form-control">
                            {{# each formsSubject}}
                                <option value="{{name}}">{{name}}</option>
                            {{/ each}}
                        </select>
                     </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="classroom">classroom</label>
                    <div class="controls">
                        <select name="classroom" required class="form-control">
                            {{# each classroom}}
                                <option value="{{name}}">{{name}}</option>
                            {{/ each}}
                        </select>
                    </div>
                </div>
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </form>
        </div>
    </div>
</template>