<template name="groupSchedule">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{name}}</h3>
                </div>
                <div class="panel-body">
                    {{# each week}}
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            {{# each this}}
                                <div class="col-md-2 day">
                                    {{>subjectSchedule}}
                                </div>
                            {{/ each}}
                        </div>
                    {{/ each}}
                </div>
            </div>
        </div>
    </div>
    {{#if isInRole 'admin'}}
        {{>groupClassSubmit}}
    {{/if}}
</template>