<template name="subjectSchedule">
    <div class="text-center">
    {{# each subjectName}}
    	<div class="lesson-container lesson-{{numberWeek}}-{{numberGroup}}" data-toggle="tooltip" title="Form subject: {{formSubject}}. Teacher: {{teacher}}">
    		<div class="lesson">
                {{#if isInRole 'admin'}}
                    <h4><a href="{{pathFor 'editClass'}}">{{subject}}</a></h4>
                {{else}}
		            <div>{{subject}}</div>
                {{/if}}
		        <div>{{classroom}}</div>
    		</div>
    	</div>
    {{/ each}}
    </div>
</template>