<template name="groupSubmit">
    <div class="container">
        <div class="row">
            <form class="main form">
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input name="name" id="name" type="text" value="" placeholder="Name group" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="number_of_person">Number of person</label>
                    <div class="controls">
                        <input name="number_of_person" id="number_of_person" type="number" min="2" max="60" value="" placeholder="Number of person" class="form-control"/>
                    </div>
                </div>
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </form>
        </div>
    </div>
</template>