<template name="groupList">
    <div class="container">
        <div class="row">
            {{#each group}}
                <div class="row post">
                    <div class="col-sm-6 post-content">
                        <h3><a href="{{pathFor 'groupSchedule'}}">{{name}}</a></h3>
                        <p>
                            number of person {{number_of_person}}
                        </p>
                    </div>
                    {{#if isInRole 'admin'}}
                        <div class="col-sm-6 edit">
                            <a href="{{pathFor 'groupEdit'}}" class="btn btn-lg btn-default">Edit</a>
                        </div>
                    {{/if}}
                </div>
            {{/each}}
        </div>
    </div>
    {{#if isInRole 'admin'}}
    {{>groupSubmit}}
    {{/if}}
</template>