<template name="teacherEdit">
    <div class="container">
        <div class="row">
            <form class="main form">
                <div class="form-group">
                    <label class="control-label" for="customer_name">Customer name</label>
                    <div class="controls">
                        <input name="customer_name" id="customer_name" type="text" value="{{customer_name}}" placeholder="Customer name" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="age">Age</label>
                    <div class="controls">
                        <input name="age" id="age" type="number" min="16" max="100" value="{{age}}" placeholder="age" class="form-control"/>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="submit" value="Submit" class="btn btn-primary submit"/>
                    </div>
                </div>
                <hr/>
                <div class="control-group">
                    <div class="controls">
                        <a class="btn btn-danger delete" href="#">Delete group</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>