<template name="teacherSubmit">
    <div class="container">
        <div class="row">
            <form class="main form">
                <div class="form-group">
                    <label class="control-label" for="customer_name">Customer name</label>
                    <div class="controls">
                        <input name="customer_name" id="customer_name" type="text" value="" placeholder="Customer name" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="age">Age</label>
                    <div class="controls">
                        <input name="age" id="age" type="number" min="16" max="100" value="" placeholder="age" class="form-control"/>
                    </div>
                </div>
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </form>
        </div>
    </div>
</template>