<template name="teacherList">
    <div class="container">
        <div class="row">
            {{#each teacher}}
                <div class="row post">
                    <div class="col-sm-6 post-content">
                        <h3><a href="{{pathFor 'teacherSchedule'}}">{{customer_name}}</a></h3>
                        <p>
                            age {{age}}
                        </p>
                    </div>
                    {{#if isInRole 'admin'}}
                        <div class="col-sm-6 edit">
                            <a href="{{pathFor 'teacherEdit'}}" class="btn btn-lg btn-default">Edit</a>
                        </div>
                    {{/if}}
                </div>
            {{/each}}
        </div>
    </div>
    {{#if isInRole 'admin'}}
        {{>teacherSubmit}}
    {{/if}}
</template>