<template name="classroomSubjectSchedule">
    <div class="text-center">
    {{# each subjectName}}
    	<div class="lesson-container lesson-{{numberWeek}}-0" data-toggle="tooltip" title="form subject:{{formSubject}}. Subject:{{subject}}">
    		<div class="lesson">
                {{#if isInRole 'admin'}}
                    <h4><a href="{{pathFor 'editClass'}}">{{teacher}}</a></h4>
                {{else}}
                    <div>{{teacher}}</div>
                {{/if}}
		        <div>{{group}}</div>
    		</div>
    	</div>
    {{/ each}}
    </div>
</template>