<template name="formsSubjectList">
    <div class="container">
        <div class="row">
            {{#each formsSubject}}
                <div class="row post">
                    <div class="col-sm-4 post-content">
                        <h3>{{name}}</h3>
                    </div>
                    {{#if isInRole 'admin'}}
                        <div class="col-sm-6">
                            <a href="{{pathFor 'formsSubjectEdit'}}" class="Edit btn btn-default">Edit</a>
                        </div>
                    {{/if}}
                </div>
            {{/each}}
        </div>
    </div>
    {{#if isInRole 'admin'}}
        {{>formsSubjectSubmit}}
    {{/if}}
</template>