<template name="classroomList">
    <div class="container">
        <div class="row">
            {{#each classroom}}
                <div class="row post">
                    <div class="col-sm-6 post-content">
                        <h3><a href="{{pathFor 'classroomSchedule'}}">{{name}}</a></h3>
                        <p>
                            Capasity - {{capasity}}
                        </p>
                    </div>
                    {{#if isInRole 'admin'}}
                        <div class="col-sm-6 edit">
                            <a href="{{pathFor 'classroomEdit'}}" class="btn btn-lg btn-default">Edit</a>
                        </div>
                    {{/if}}
                </div>
            {{/each}}
        </div>
    </div>
    {{#if isInRole 'admin'}}
        {{>classroomSubmit}}
    {{/if}}
</template>