<template name="subjectList">
    <div class="container">
        <div class="row">
            {{#each subject}}
                <div class="row post">
                    <div class="col-sm-4 post-content">
                        <h3>{{name}}</h3>
                    </div>
                    {{#if isInRole 'admin'}}
                        <div class="col-sm-6 edit">
                            <a href="{{pathFor 'subjectEdit'}}" class="Edit btn btn-default">Edit</a>
                        </div>
                    {{/if}}
                </div>
            {{/each}}
            </div>
        </div>
    {{#if isInRole 'admin'}}
        {{>subjectSubmit}}
    {{/if}}
</template>