<template name="subjectEdit">
    <div class="container">
        <div class="row">
            <form class="main form">
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input name="name" id="name" type="text" value="{{name}}" placeholder="Name" class="form-control"/>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="submit" value="Submit" class="btn btn-primary submit"/>
                    </div>
                </div>
                <hr/>
                <div class="control-group">
                    <div class="controls">
                        <a class="btn btn-danger delete" href="#">Delete subject</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>