<template name="layout">
    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" id="top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Hogwarts</a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li>

                        <a href="{{pathFor 'teacherList'}}">Teacher</a>
                    </li>
                    <li>
                        <a href="{{pathFor 'classroomList'}}">Classroom </a>
                    </li>
                    <li>
                        <a href="{{pathFor 'subjectList'}}">Subject </a>
                    </li>
                    <li>
                        <a  href="{{pathFor 'formsSubjectList'}}">Forms Subject </a>
                    </li>
                </ul>
                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a  href="{{pathFor 'addAdmin'}}">Add Admin</a>
                        </li>
                        {{> loginButtons}}
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!--<div id="main" class="row-fluid">-->
        {{> yield}}
    <!--</div>-->
</template>