<template name="addAdmin">
    <form class="main form">
        <div class="form-group">
            <label class="control-label" for="email">Email</label>
            <div class="controls">
                <input name="email" id="email" type="text" value="" placeholder="Email" class="form-control"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Додати" class="btn btn-primary submit"/>
            </div>
        </div>
    </form>
</template>