.col-md-2.day {
    border: 1px solid #D2CECE;
    height: 150px;
    display: block;
}
.lesson{
	margin: auto;
}
.lesson-container {
	position: absolute;
    border: 1px solid #D4D4D4;
    background-color: #F7F7F7;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.lesson-1-1 {
    width: 50%;
    height: 50%;
    top: 0;
    left: 0;
}
.lesson-1-2 {
    width: 50%;
    height: 50%;
    top: 0;
    right: 0;
}
.lesson-2-1 {
    width: 50%;
    height: 50%;
    bottom: 0;
    left: 0;
}
.lesson-2-2 {
    width: 50%;
    height: 50%;
    bottom: 0;
    right: 0;
}
.lesson-0-0 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.lesson-0-1 {
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
}
.lesson-0-2 {
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
}
.lesson-1-0 {
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
}
.lesson-2-0 {
    width: 100%;
    height: 50%;
    bottom: 0;
    right: 0;
}

form.form {
    margin-top: 100px;
    background-color: #F7F7F7;
    border-radius: 1px;
    padding: 6px;
}

.col-sm-6.edit {
    margin-top: 15px;
}

.post-content {
    padding-left: 50px;
}

.post {
    background-color: gainsboro;
    border-radius: 200px;
    margin-top: 10px;
}

body{
    padding-top:80px;
}